:root {
    --black-color: #ccc;
}
$blackColor: #000;

.title {
    text-align: center;
    font-size: 15px;
}

.content {
    .content-text {
        display: flex;
        color: var(--black-color);
        color: $blackColor;
        font-size: 40px;
    }
}
